{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "MethodCallRemoval": {
            "ignore": [
                "ReactParallel\\Psr15Adapter\\ReactMiddleware::__invoke",
                "ReactParallel\\Psr15Adapter\\Psr15RequestHandlerAdapter::handle"
            ]
        }
    }
}